@media screen and (max-width: 767px) {
    /* General styles for all menus */
    .cbp-spmenu {
        background-color: #363b5c;
        position: fixed;
        overflow-x: auto;
    }
    .cbp-spmenu .main-nav>li>a {
        color: #FFF;
    }
    .cbp-spmenu a:active,
    .cbp-spmenu a:hover,
    .cbp-spmenu .main-nav>li>a:hover,
    .cbp-spmenu .main-nav>li>a:active {
        background: #FFF;
        color: #2d2969;
    }
    .cbp-spmenu ul.main-nav {
        margin-top: 50px;
    }
    /* Orientation-dependent styles for the content of the menu */
    .cbp-spmenu-vertical {
        width: 280px;
        height: 100%;
        top: 0;
        z-index: 99999;
    }
    .cbp-spmenu-horizontal {
        width: 100%;
        height: 150px;
        left: 0;
        z-index: 1000;
        overflow: hidden;
    }
    .cbp-spmenu-horizontal h3 {
        height: 100%;
        width: 20%;
        float: left;
    }
    .cbp-spmenu-horizontal a {
        float: left;
        width: 20%;
        padding: 0.8em;
        border-left: 1px solid #258ecd;
    }
    /* Vertical menu that slides from the left or right */
    .cbp-spmenu-left {
        left: -240px;
    }
    .cbp-spmenu-right {
        right: -280px;
    }
    .cbp-spmenu-left.cbp-spmenu-open {
        left: 0px;
    }
    .cbp-spmenu-right.cbp-spmenu-open {
        right: 0px;
    }
    /* Horizontal menu that slides from the top or bottom */
    .cbp-spmenu-top {
        top: -150px;
    }
    .cbp-spmenu-bottom {
        bottom: -150px;
    }
    .cbp-spmenu-top.cbp-spmenu-open {
        top: 0px;
    }
    .cbp-spmenu-bottom.cbp-spmenu-open {
        bottom: 0px;
    }
    /* Push classes applied to the body */
    .cbp-spmenu-push {
        overflow-x: hidden;
        position: relative;
        left: 0;
    }
    .cbp-spmenu-push-toright {
        left: 240px;
    }
    .cbp-spmenu-push-toleft {
        left: -240px;
    }
    .cbp-spmenu-push-toleft .header {
        left: -240px;
    }
    /* Transitions */
    .cbp-spmenu,
    .cbp-spmenu-push {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
}